<div class="d-flex align-items-center">
  <div>
    <button nz-button
      nzType="primary"
      class="ms-font-head-5"
      (click)="handlerAdd()"><i nz-icon
        nzType="plus"></i>Thêm sản phẩm mới</button>
  </div>
  <div class="ms-max-width-500px ms-py-12px ms-ml-auto">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text"
        class="ms-border-radius-4px ms-font-head-5s"
        nz-input
        placeholder="Tìm theo tên sản phẩm"
        [(ngModel)]="filterProduct.search"
        (change)="handlerSearchProduct($event)" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon
        nzType="search"></i>
    </ng-template>
  </div>
</div>

<div class="ms-calc-h-54px">
  <div class="grid-box ms-bg-ffffff ms-border-general ms-p-12px">
    <div class="ms-font-head-5s">Ảnh sản phẩm</div>
    <div class="ms-font-head-5s">Tên sản phẩm</div>
    <div class="ms-font-head-5s">Danh mục</div>
    <div class="ms-font-head-5s">Giá</div>
    <div class="ms-font-head-5s">Tồn kho</div>
    <div class="ms-font-head-5s">Nhà cung cấp</div>
  </div>
  <div class="ms-calc-h-44px ms-bg-ffffff ms-border-general ms-border-top-none ms-overflow-auto">
    <ng-container *ngIf="productList && productList.length">
      <div *ngFor="let data of productList; index as i;"
        class="grid-box ms-border-bottom-general ms-p-12px position-relative"
        [ngClass]="{'ms-bg-f0f2f5': i === indexHover}"
        (mouseleave)="resetIndexHover($event)"
        (mouseenter)="setIndexHover($event, i)">
        <div class="ms-w-30px ms-h-30px ms-border-general">
          <img [src]="data.image"
            class="w-100 h-100" />
        </div>
        <div class="d-flex align-items-center">{{ data.name }}</div>
        <div class="d-flex align-items-center">{{ data.category ? data.category: '__'}}</div>
        <div class="d-flex align-items-center">{{ data.price | MsFormatNumberPipe }} VNĐ</div>
        <div class="d-flex align-items-center">{{ data.inventory ? data.inventory : 0 }}</div>
        <div class="d-flex align-items-center">{{ data.supplier ? data.supplier : '__' }}</div>
        <div *ngIf="i === indexHover"
          class="position-absolute ms-left-350px ms-top-12px">
          <div class="d-flex">
            <button nz-button
              nzType="primary"
              class="ms-font-head-5 ms-mr-12px"
              (click)="handlerEdit(data)">Sửa</button>
            <button nz-button
              nzType="primary"
              nzDanger
              class="ms-font-head-5"
              (click)="handlerDelete(data)">Xóa</button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!productList || !productList.length">
      <div class="d-flex justify-content-center align-items-center h-100">{{'Danh sách trống'}}</div>
    </ng-container>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible"
  [nzTitle]="productSelected._id ? 'Sửa sản phẩm' : 'Tạo mới sản phẩm'"
  (nzOnCancel)="handlerCancel()">
  <ng-container *nzModalContent>
    <div class="d-flex flex-column">
      <span class="ms-mb-4px">Ảnh sản phẩm</span>
      <nz-input-group class="w-100">
        <input type="text"
          class="ms-border-radius-4px"
          nz-input
          placeholder="Nhập ảnh sản phẩm"
          [(ngModel)]="productSelected.image" />
      </nz-input-group>
    </div>
    <div class="d-flex flex-column ms-mt-16px">
      <span class="ms-mb-4px">Tên sản phẩm</span>
      <nz-input-group class="w-100">
        <input type="text"
          class="ms-border-radius-4px"
          nz-input
          placeholder="Nhập tên sản phẩm"
          [(ngModel)]="productSelected.name" />
      </nz-input-group>
    </div>
    <div class="d-flex flex-column ms-mt-16px">
      <span class="ms-mb-4px">Danh mục</span>
      <!-- <nz-input-group class="w-100">
        <input type="text"
          class="ms-border-radius-4px"
          nz-input
          placeholder="Nhập họ và tên"
          [(ngModel)]="userSelected.name" />
      </nz-input-group> -->
    </div>
    <div class="d-flex flex-column ms-mt-16px">
      <span class="ms-mb-4px">Giá</span>
      <nz-input-group class="w-100">
        <input type="text"
          class="ms-border-radius-4px"
          nz-input
          placeholder="Nhập giá"
          [(ngModel)]="productSelected.price" />
      </nz-input-group>
    </div>
    <div class="d-flex flex-column ms-mt-16px">
      <span class="ms-mb-4px">Tồn kho</span>
      <nz-input-group class="w-100">
        <input type="text"
          class="ms-border-radius-4px"
          nz-input
          placeholder="Nhập số sản phẩm tồn kho"
          [(ngModel)]="productSelected.inventory" />
      </nz-input-group>
    </div>
    <div class="d-flex flex-column ms-mt-16px">
      <span class="ms-mb-4px">Nhà cung cấp</span>
      <nz-input-group class="w-100">
        <input type="text"
          class="ms-border-radius-4px"
          nz-input
          placeholder="Nhập tên nhà cung cấp"
          [(ngModel)]="productSelected.supplier" />
      </nz-input-group>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button
      nzType="default"
      (click)="handlerCancel()">Hủy bỏ</button>
    <button nz-button
      nzType="primary"
      (click)="handlerSave()"
      [nzLoading]="isConfirmLoading">Lưu</button>
  </div>
</nz-modal>