<div class="d-flex justify-content-around h-100 ms-py-12px">
  <div class="h-100 w-20 ms-bg-ffffff ms-border-general">
    <div class="ms-border-bottom-general ms-p-12px">Đang chuẩn bị</div>
    <div class="ms-calc-h-44px ms-overflow-auto">
      <app-view-user-order-item class="h-100" [orderData]="orderData" [status]="0"></app-view-user-order-item>
    </div>
  </div>
  <div class="h-100 w-20 ms-bg-ffffff ms-border-general">
    <div class="ms-border-bottom-general ms-p-12px">Đang đang giao</div>
    <div class="ms-calc-h-44px ms-overflow-auto">
      <app-view-user-order-item class="h-100" [orderData]="orderData" [status]="1"></app-view-user-order-item>
    </div>
  </div>
  <div class="h-100 w-20 ms-bg-ffffff ms-border-general">
    <div class="ms-border-bottom-general ms-p-12px">Đã nhận hàng</div>
    <div class="ms-calc-h-44px ms-overflow-auto">
      <app-view-user-order-item class="h-100" [orderData]="orderData" [status]="2"></app-view-user-order-item>
    </div>
  </div>
  <div class="h-100 w-20 ms-bg-ffffff ms-border-general">
    <div class="ms-border-bottom-general ms-p-12px">Đã hủy</div>
    <div class="ms-calc-h-44px ms-overflow-auto">
      <app-view-user-order-item class="h-100" [orderData]="orderData" [status]="-1"></app-view-user-order-item>
    </div>
  </div>
</div>